.mid-wrapper {
	padding: 1rem;
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 1%;
}
.right-wrapper {
	padding: 1rem;
	padding-top: 0.5rem;
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 1%;
	max-height: 10rem;
}
.left-wrapper {
	padding: 1rem;
	border-radius: 1%;
}
.left-wrapper img {
	max-width: 200px;
	border-radius: 50%;
}
.left-wrapper h1 {
	font-size: 2.25rem;
}
.follow-link {
	display: flex;
	flex-direction: row;
	font-size: 15px;
}
.follow-link img {
	max-width: 30px;
	max-height: 30px;
	margin-right: 5px;
}
.follow-link a {
	font-size: 20px;
	text-decoration: none;
	color: #000000;
}
.header {
	font-size: 25px;
	color: #9fd3d7;
	border-bottom: 1px solid #eaeaea;
}
.story p {
	margin: 15px 0;
	border-bottom: 1px solid #eaeaea;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.left-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
	}
	.left-wrapper img {
		width: 200px;
		height: 200px;
		margin-right: 1rem;
	}

	.mid-wrapper {
		margin-bottom: 2rem;
	}
}
