.body {
	background-color: #e6ecf0;
}
.container-fluid {
	font-family: "rubik", sans-serif;
}
.row {
	margin-top: 1rem;
}
.custom-nav {
	/* background-color: #9fd3d7; */
	background-color: #ffffff;
	border-bottom: 1px solid #9fd3d7;
	font-family: "Rubik", sans-serif;
}
.nav-item :hover {
	background-color: #9fd3d7;
	color: white;
}
.custom-brand {
	color: #9fd3d7;
}
.custom-item {
	color: #9fd3d7;
}
