{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block heading %} {% load static %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'profile.css' %}" />
    {% endblock heading %}
  </head>
  <body>
    {% block content %}
    <div
      class="col col-sm-10 offset-sm-1 col-md-3 offset-md-1 col-lg-2  left-wrapper"
    >
      <img
        src="https://instagram.fcgk4-2.fna.fbcdn.net/vp/4fc01f4100989380b44b5327dcebce1f/5CE8E6F5/t51.2885-15/e35/30900009_257609234783705_3525748630495428608_n.jpg?_nc_ht=instagram.fcgk4-2.fna.fbcdn.net"
        alt=""
      />
      <div>
        <h1>Reka Paska</h1>
        <p>a website developer</p>
      </div>
    </div>
    <div
      class="col col-sm-10 offset-sm-1 col-md-6 col-lg-4 offset-md-1 mid-wrapper"
    >
      <h2 class="header">Stories</h2>
      <div class="story">
        <p>
          Halo! Saya reka, teman dari Saul. Saat ini saya berkuliah di tempat
          yang sama dengan Saul, di Fakultas Ilmu Komputer, Universitas
          Indonesia. Saya tertarik ke bidang yang sama dengan Saul ketika saya
          berbincang dengan Saul.
        </p>
        <p>
          Saat ini saya sedang mendalami mata kuliah Perancangan dan pemrograman
          web. Saya meluangkan cukup banyak waktu untuk mempelajari bagaimana
          merancang web yang baik dan menarik.
        </p>
      </div>
    </div>
    <div
      class="col  col-sm-10 offset-sm-1 col-md-4 col-lg-2 offset-md-1 right-wrapper"
    >
      <h2 class="header">Works</h2>
      <div class="follow-link1">
        <p>Instagram Products Manager</p>
        <p>Dekoruma Products Manager</p>
        <p>Volunteer of Perkantas Jakarta</p>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
