{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block heading %} {% load static %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'profile.css' %}" />
    {% endblock heading %}
  </head>
  <body>
    {% block content %}

    <div
      class="col col-sm-10 offset-sm-1 col-md-3 offset-md-1 col-lg-2  left-wrapper"
    >
      <img
        src="https://scontent.fcgk18-2.fna.fbcdn.net/v/t1.0-9/19420803_1701370099891532_2830396182202244264_n.jpg?_nc_cat=104&_nc_ht=scontent.fcgk18-2.fna&oh=354f40661edf65d71f30fe9bf41365dc&oe=5CB2FE4D"
        alt=""
      />
      <div>
        <h1>Saul Andre</h1>
        <p>a website developer</p>
      </div>
    </div>
    <div
      class="col col-sm-10 offset-sm-1 col-md-6 col-lg-4 offset-md-1 mid-wrapper"
    >
      <h2 class="header">Stories</h2>
      <div class="story">
        <p>
          Halo, saya Saul Andre Lumban Gaol, panggil saya Saul! Saya menjalani
          masa-mas belajar di beberapa sekolah di Jakarta. Saya pernah
          bersekolah di SDN 06 Kalisari, SMPN 103 Jakarta, dan SMAN 39 Jakarta.
          Saat ini saya sedang menjalani perkuliahan di Universitas Indonesia,
          jurusan Ilmu Komputers
        </p>
        <p>
          Selama saya menjalani masa sekolah, saya terlibat dalam sebuah
          ekstrakurikuler, rohkris. Saya menjadi seorang pengurus ekskul
          tersebut selama 2 periode, dan hingga kini masih terus terhubung
          dengan rohkris.
        </p>
      </div>
    </div>
    <div
      class="col col-sm-10 offset-sm-1 col-md-4 col-lg-2 offset-md-1 right-wrapper"
    >
      <h2 class="header">Follow Me!</h2>
      <div class="follow-link">
        <img
          src="https://instagram-brand.com/wp-content/uploads/2016/11/Instagram_AppIcon_Aug2017.png?w=300"
          alt=""
        />
        <a href="http://instagram.com/saulandreee">@saulandreee</a>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
