.left-wrapper {
	padding: 1rem;
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 1%;
	max-height: 23rem;
}
.mid-wrapper {
	padding: 1rem;
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 1%;
}
.right-wrapper {
	padding: 1rem;
	padding-top: 0.5rem;
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 1%;
}
.header {
	font-size: 25px;
	color: #9fd3d7;
	border-bottom: 1px solid #eaeaea;
}
.myform {
	display: flex;
	flex-direction: column;
}
.form-control {
	margin-bottom: 0.25rem;
}
.data {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 0.5rem;
}
#detail-data {
	margin: none;
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.left-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
	}
	.left-wrapper img {
		width: 200px;
		height: 200px;
		margin-right: 1rem;
	}

	.mid-wrapper {
		margin-bottom: 2rem;
	}
}
