{% extends "base.html" %}
<!DOCTYPE html>
<html>
  <head>
    {% block heading %} {% load static %}
    <title>Projects</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'projects.css' %}" />
    {% endblock heading %}
  </head>
  <body>
    {% block content %}
    <div class="col col-sm-10 offset-sm-1 col-md-3 offset-md-1 col-lg-2  left-wrapper">
      <h2 class="header">Tambah Project</h2>
      <form class="myform" method="POST">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-outline-secondary">Submit</button>
      </form>
    </div>

    <div class="col col-sm-10 offset-sm-1 col-md-6 col-lg-4 offset-md-1 mid-wrapper">
      <h2 class="header">My Projects</h2>
      {% for each_data in data %}
      <div class="data">
        <article>Judul : {{ each_data.judul }}</article>
        <article>Mulai/selesai : {{ each_data.tgl_mulai }}/{{ each_data.tgl_selesai }}</article>
        <article>Deskripsi : {{ each_data.deskripsi }}</article>
        <article>Tempat : {{ each_data.tempat }}</article>
        <article>Kategori : {{ each_data.kategori }}</article>
      </div>
      {% endfor %}
    </div>
    {% endblock content %}
  </body>
</html>
